.projects-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .projects-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .mini-projects-container {
        margin: 2rem 0;
        display: flex;
        flex-wrap: wrap;
    }
}
