.about-image {
    background-image: none;
}

.about-desc {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--introBlue);
    font-size: 18px;
    font-family: "American Typewriter";
    font-weight: 600;
    font-weight: 600;
    padding: 30% 5px;
    line-height: 1.6;
    border-radius: 20px;
    /* height: 100%; */
    background-color: rgba(190, 195, 218, 0.616);
    /* opacity: 0.5; */
}

.about-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    border-radius: 20px;
    transition: 0.6s;
    z-index: -1;
}
.about-page {
    margin: 150px 0;
    /* max-height: 600px; */

    z-index: 0;
}

@media screen and (min-width: 768px) {
    .about-container {
        background-image: none;
        display: flex;
        margin: 0 0 3rem 0;
    }
    .about-desc {
        font-size: 24px;
        padding: 6rem 3rem;
        font-weight: 300;
        margin: 0;
    }

    .about-page {
        border-radius: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .about-desc {
        width: 50%;
        border-radius: 20px 0 0 20px;
    }
    .about-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 50%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}
